.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--dark-bac);
  color: var(--lightgray)
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__nav {
  max-width: 252px;
  margin-right: 6.5%;
}

.footer__logo {
  align-items: flex-start;
  margin-bottom: 20px;
  width: 224px;
  min-height: 72px;
}

.footer__list {
  margin-bottom: 90px;
  font-weight: var(--semibold);
  font-size: 18px;
  line-height: 36px;
}

.footer__list-link {
  transition: color var(--short);
  outline: none;
}

.footer__list-link:focus:not(:active) {
  outline: 2px solid var(--orange);
  outline-offset: 3px;
}

.footer__list-link:active {
  color: var(--orange-dark)
}

.footer__feedback {
  width: calc(570 / 1770 * 100%);
}

.footer__about {
  width: calc(363 / 1770 * 100%);
}

.footer__about {
  padding-top: 87px;
}

@media (max-width: 1440px) {

  .footer__container {
    justify-content: flex-start;
  }

  .footer__nav {
    margin-right: calc(132 / 924 * 100%);
  }

  .footer__feedback {
   width: calc(541 / 924 * 100%);
  }

  .footer__about {
    display: none;
  }

}

@media (max-width: 1280px) {
  .footer__nav {
    margin-right: auto;
  }

}

@media (max-width: 962px) {
  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__nav {
    margin-right: 0;
  }

  .footer__list {
   display: none;
  }

  .footer__feedback {
    margin-bottom: 50px;
    width: 100%;
    max-width: 541px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

}

@media (max-width: 576px) {

  .footer {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .footer__container {
    align-items: center;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__logo {
    width: 131px;
    min-height: 42px;
  }

  .footer__feedback {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--middle-dark-gray)
  }

}

@media (any-hover: hover) {

  .footer__list-link:hover {
    color: var(--orange);
  }
  
}



