:root {
  /* Шрифты */
  --montserrat: "Montserrat";
  --regular: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;

  --dafault-fs: 16px;
  --default-lh: 32px;

  /* Цвета */
  --black: #000000;
  --dark-transp: rgba(0, 0, 0, 0.5);
  --dark-bac: #222222;
  --dark: #333333;
  --dark-gray: #666666;
  --dark-light: #414141;
  --gray: #E5E5E5;
  --lightgray: #CACACA;
  --graydark: #7C7C7C;
  --middle-dark-gray: #595959;
  --gray-border: #dcdcdc;
  --white: #FFFFFF;
  --orange: #FF9900;
  --orange-dark: #E1670E;
  --orange-transp: rgba(255, 153, 0, 0.7);
  --lightgreen: #97EE3F;

  /*Sizes*/
  --body-min-width: 320px;
  --container-max-width: 1870px;
  --container-padding: 50px;

  /* Transition */
  --short: .3s;
  --medium-tans: .5s;

  /* Hero slider */
  --swiper-pagination-color: #fff;
  --swiper-pagination-bullet-width: 15px;
  --swiper-pagination-bullet-height: 15px;
  --swiper-pagination-bullet-horizontal-gap: 10px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: .4;

}

@media (max-width: 576px) {
  :root {
    --container-padding: 15px;

    --dafault-fs: 14px;
    --default-lh: 28px;

    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
  }
}
